<!DOCTYPE html>
<html>
<head>
	<title>Promo</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="stylesheets/promo.css">
</head>

<body >

	<h1>About SolarScape</h1>

	<div class="parallax1">
	</div>

	<div class="row">
	<div class="col-md-4">
			<img class="pic2" src="images/bulb.gif">
		</div>

		<div align="center" class="col-md-8">
			<h2>Why Choose SolarScape?</h2>
			<p>With Carbon emissions on the rise, global warming, and unreasonable pricing. SolarScape contrasts the standard landscaping business plan, and offers the most innovative, high-efficent landscaping tools, and services. Its up to us to make every part of our lives more eco and enviromentally friendly.</p>
			<p><span>Solar</span> panel refers to a panel designed to absorbed the sun's rays as a source of energy for generating electricity or heating.
				A photovoltaic module is a packaged, new types of solar panels have been occuring. some of the most efficient solar panels are connect assembly of typically 6x10 photovaltaic solar cells. Photovoltaic modules constitute the photovoltaic array of a photovoltaic system that generates and supplies solar electricity in commercial and residential applications. Each module is rated by its DC output power under standard test conditions, and typically ranges from 100 to 365 watts. The efficiency of a module determines the area of a module given the same rated output – an 8% efficient 230 watt module will have twice the area of a 16% efficient 230 watt module. There are a few commercially available solar modules that exceed 22% efficiency and reportedly also exceeding 24%. A single solar module can produce only a limited amount of power; most installations contain multiple modules. A photovoltaic system typically includes an array of photovoltaic modules, an inverter, a battery pack for storage, interconnection wiring, and optionally a solar tracking mechanism.
			</p>
		</div>

	</div>

	<div class="parallax2">
	</div>

	<div class="row">
		<div class="col-md-8">
			<h2>Save MONEY in the long run!!!</h2>
			<p>Companies and families always want to save money when possible. With the solar power products, energy is straight from the sun. This limits the use of electricity meaning most likely electricity is used in the nighttime. Any energy not used is stored and contained to be used at a later time when needed. This will allow huge savings which could lead to profitability.</p>
		</div>
		<div class="col-md-4">
			<img class="pic1" src="images/savemoney.gif">
		</div>
	</div>


		<div class="parallax3">
		</div>

		<div class="row">
			<div class="col-md-12">
				<iframe width="650" height="400" src="https://www.youtube.com/embed/EnYjlsGXugo" frameborder="0" allowfullscreen></iframe>
				<iframe width="650" height="400" src="https://www.youtube.com/embed/KnyQbxsTbLw" frameborder="0" allowfullscreen></iframe>
				<p>Courtesy of DNEWS and YouTube</p>
			</div>
		</div>

		<div class="parallax4">
		</div>

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	</body>
	</html>